Thumbs.db
.DS_Store
.gradle
!gradle/wrapper/gradle-wrapper.jar
build/
target/
out/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
.vscode
bin/
*.bak

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
